#content
  .bg2.p29
    .container
      .row
        .grid_4.wrap
          .thumbnail
            %h3
              Powerball
              = succeed "$173.0" do
                %br/
              %span Million
            %p
              Cash Option: $102.0
              %span Million
            %p
              NEXT DRAW:
              %span MAY 31
            %ul.list
              %li 19
              %li 24
              %li 45
              %li 18
              %li 36
              %li 5
        .grid_4.wrap
          .thumbnail
            %h3
              Mega Millions
              %br>/
              $26.0
              %span Million
            %p
              Cash Option: $102.0
              %span Million
            %p
              NEXT DRAW:
              %span MAY 31
            %ul.list
              %li 19
              %li 24
              %li 45
              %li 18
              %li 36
              %li 5
        .grid_4
          .thumbnail
            %h3
              Lotto
              = succeed "$3.9" do
                %br/
              %span Million
            %p
              Cash Option: $102.0
              %span Million
            %p
              NEXT DRAW:
              %span MAY 31
            %ul.list
              %li 19
              %li 24
              %li 45
              %li 18
              %li 36
              %li 5
  .bg3
    .container
      .row
        .grid_4.wrap
          .image
            %img{:alt => "", :src => "images/page1_img1.png"}/
        .grid_8.wrap
          .block
            %h2
              Believe in your win!
              %span Good luck!
            .grid_4.alpha
              %a.link1{:href => "#"} How To Play
              %p Praesent vestibulum aenean nonummy hendrerit mauris. Hasellus porta. Fusce suscipit varius mi. Cum sociis atoque penatibus magnis dis parturient montes nascetur ridiculus mus.
            .grid_4.omega
              %ul.links
                %li
                  %a.col1{:href => "#"}
                    for
                    = succeed "players" do
                      %br/
                %li
                  %a.col2{:href => "#"}
                    for
                    = succeed "retailers" do
                      %br/
                %li
                  %a.col3{:href => "#"}
                    message
                    = succeed "center" do
                      %br/
  .bg4.p47
    .container
      .row
        .grid_12
          %h2 latest winners:
      .row
        .grid_12
          #owl.owl-carousel
            .item
              .thumb
                %img{:alt => "", :src => "images/page1_img2.jpg"}/
                .caption
                  %a{:href => "#", :title => ""} Richard Clark
                  %p
                    Won $1.000
                    %span
                      playing
                      = succeed "$1000" do
                        %br/
            .item
              .thumb
                %img{:alt => "", :src => "images/page1_img3.jpg"}/
                .caption
                  %a{:href => "#", :title => ""} Tamara Smith
                  %p
                    Won $1.000
                    %span
                      playing
                      = succeed "$1000" do
                        %br/
            .item
              .thumb
                %img{:alt => "", :src => "images/page1_img4.jpg"}/
                .caption
                  %a{:href => "#", :title => ""} Linda Nelson
                  %p
                    Won $1.000
                    %span
                      playing
                      = succeed "$1000" do
                        %br/
            .item
              .thumb
                %img{:alt => "", :src => "images/page1_img5.jpg"}/
                .caption
                  %a{:href => "#", :title => ""} George Johnson
                  %p
                    Won $1.000
                    %span
                      playing
                      = succeed "$1000" do
                        %br/
            .item
              .thumb
                %img{:alt => "", :src => "images/page1_img2.jpg"}/
                .caption
                  %a{:href => "#", :title => ""} Richard Clark
                  %p
                    Won $1.000
                    %span
                      playing
                      = succeed "$1000" do
                        %br/
            .item
              .thumb
                %img{:alt => "", :src => "images/page1_img3.jpg"}/
                .caption
                  %a{:href => "#", :title => ""} Tamara Smith
                  %p
                    Won $1.000
                    %span
                      playing
                      = succeed "$1000" do
                        %br/