!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %meta{name:"viewport", content:"width=device-width, initial-scale=1.0"}
    %title Bitlotto
    %link{:href => "css/grid.css", :rel => "stylesheet"}/
    %link{:href => "css/style.css", :rel => "stylesheet"}/
    %link{:href => "css/font-awesome.css", :rel => "stylesheet"}/
    %link{:href => "css/owl.carousel.css", :rel => "stylesheet"}/
    %link{:href => "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css", :rel => "stylesheet"}
    = stylesheet_link_tag    'application', media: 'all'
  %body#top.main_page
    = render 'partials/header'
    = yield
    = render 'partials/footer'
    = javascript_include_tag 'application', media: 'all'
    %script{:src => "js/jquery.js"}
    %script{:src => "js/jquery-migrate-1.2.1.js"}
    %script{:src => "js/owl.carousel.js"}
    %script{:src => "js/script.js"}
    :javascript
      $(document).ready(function(){
          $("#owl").owlCarousel({
              items : 4,
              itemsDesktop : [1299, 4],
              itemsTablet: [995, 3],
              itemsTabletSmall: [767, 1],
              itemsMobile : [479, 1],
              lazyLoad : true,
              pagination: false,
              navigation : true
          });
       });